        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        .register-container, .login-container {
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        label {
            display: block;
            font-weight: bold;
            color: #555;
            margin-bottom: 5px;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 20px;
        }
        .redirect {
            margin-top: 1rem;
            margin-bottom: 1rem;
            background-color: #ffffff;
            color: black;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            cursor: pointer;
            display: block;
            margin-left: auto;
            margin-right: auto;
            text-decoration: none;
        }

        .redirect:hover{
            background-color: #f2f2f2;
        }
        .redirect:active{
        text-decoration: none;
        }
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        input[type=submit]:hover {
            background-color: #45a049;
        }

        .admin-button{
            display: block;
            margin-top: 20px;
            background-color: #4336f4;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }
        .admin-button a {
            text-decoration: none;
            color: inherit; /* to inherit the color from the parent element */
        }
        .admin{
            color: red;
        }
        .white{
        color:white;
        }

           .chat-area {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            height: 400px;
            overflow-y: scroll;
        }

        .chat-input {
            display: flex;
            margin-top: 20px;

        }

        .chat-input input {
            flex-grow: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px 0 0 5px;
            margin-bottom: 0 !important;
        }

        button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        .chat-input button {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
        }

        .chat-input button:hover{
        background-color: #4CdF50;
        }

        .logout-button {
            display: block;
            margin-top: 20px;
            background-color: #f44336;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }